<div (mouseover)="isHovered = true" (mouseout)="isHovered = false" class="card">
  <img
    [routerLink]="['/heroes', hero.id]"
    [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension"
    [alt]="'Imagen del Héroe' + hero.name"
  />
  <div class="spacer"></div>
  <div class="info">
    <p
      [innerHTML]="
        hero.name | uppercase | truncate : 6 : '..' : 'p' : ['truncate-text']
      "
    ></p>
    <p (click)="clickHero()">
      <heroes-fav [isMarked]="isFav" [isHovered]="isHovered"></heroes-fav>
    </p>
  </div>
</div>
