.container {
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.4rem;
}

.no-result {
  padding: 0rem 2rem;
}

.no-result p {
  font-size: 2rem;
  text-align: center;
}
