.container {
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.4rem;
}

.no-result {
  padding: 0rem 2rem;
}

.no-result p {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1300px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 950px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 750px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0rem 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
