div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.heart {
  color: red;
  width: 2rem;
  cursor: pointer;
}

@media (max-width: 300px) {
  .heart {
    width: 1.5rem;
  }
}
