/* You can add global styles to this file, and also import other style files */

/**Normalización**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**TOOLTIP**/

.truncate-text {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text[title]:hover {
  cursor: default;
}
